# Creacion de un DataSet

## Importar Librerías

In [1]:
import pandas as pd

## Definir rutas de los archivos

In [2]:
df_path="../datasets/DatosSeguros.csv"

## Crear el dataset

In [5]:
df=pd.read_csv(df_path)
df

      edad sexo    imc  hijos fumador        region  valor_seguro
0       19    F  27.90      0     yes        Caribe    16884.9240
1       19    F  27.90      0     yes        Caribe    16884.9240
2       19    F  27.90      0     yes        Caribe    16884.9240
3       18    M  33.77      1      no  Cundinamarca     1725.5523
4       28    M  33.00      3      no  Cundinamarca     4449.4620
...    ...  ...    ...    ...     ...           ...           ...
1344    18    F  36.85      0      no  Cundinamarca     1629.8335
1345    19    F  27.90      0     yes        Caribe    16884.9240
1346    21    F  25.80      0      no        Caribe     2007.9450
1347    61    F  29.07      0     yes     Antioquia    29141.3603
1348    19    F  27.90      0     yes        Caribe    16884.9240

[1349 rows x 7 columns]

## Analizar la estructura del dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1349 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1349 non-null   int64
 1   sexo          1349 non-null   object
 2   imc           1347 non-null   float64
 3   hijos         1349 non-null   int64
 4   fumador       1347 non-null   object
 5   region        1349 non-null   object
 6   valor_seguro  1349 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.9+ KB

Contar valores nulos

In [7]:
df.isnull().sum()

edad            0
sexo            0
imc             2
hijos           0
fumador         2
region          0
valor_seguro    0
dtype: int64

In [8]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345 entries, 0 to 1348
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1345 non-null   int64
 1   sexo          1345 non-null   object
 2   imc           1345 non-null   float64
 3   hijos         1345 non-null   int64
 4   fumador       1345 non-null   object
 5   region        1345 non-null   object
 6   valor_seguro  1345 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 84.1+ KB

In [9]:
df=df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 0 to 1347
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   edad          1333 non-null   int64
 1   sexo          1333 non-null   object
 2   imc           1333 non-null   float64
 3   hijos         1333 non-null   int64
 4   fumador       1333 non-null   object
 5   region        1333 non-null   object
 6   valor_seguro  1333 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.3+ KB

### Ordenar data

In [10]:
df.sort_values('edad')

      edad sexo    imc  hijos fumador        region  valor_seguro
1097    18    F  31.35      4      no        Boyaca    4561.18850
59      18    M  31.68      2     yes  Cundinamarca   34303.16720
1251    18    M  33.33      0      no  Cundinamarca    1135.94070
297     18    M  22.99      0      no        Boyaca    1704.56810
1255    18    F  39.82      0      no  Cundinamarca    1633.96180
...    ...  ...    ...    ...     ...           ...           ...
536     64    M  40.48      0      no  Cundinamarca   13831.11520
64      64    M  24.70      1      no     Antioquia   30166.61817
1248    64    M  36.96      2     yes  Cundinamarca   49577.66240
422     64    M  33.88      0     yes  Cundinamarca   46889.26120
637     64    M  38.19      0      no        Boyaca   14410.93210

[1333 rows x 7 columns]

In [11]:
df.sort_values('edad',ascending=False)

      edad sexo     imc  hijos fumador        region  valor_seguro
422     64    M  33.880      0     yes  Cundinamarca   46889.26120
754     64    M  37.905      0      no     Antioquia   14210.53595
404     64    F  32.965      0      no     Antioquia   14692.66935
420     64    M  39.160      1      no  Cundinamarca   14418.28040
380     64    F  30.115      3      no     Antioquia   16455.70785
...    ...  ...     ...    ...     ...           ...           ...
1290    18    M  30.030      1      no  Cundinamarca    1720.35370
1289    18    F  21.660      0     yes        Boyaca   14283.45940
566     18    F  32.120      2      no  Cundinamarca    2801.25880
1082    18    M  21.780      2      no  Cundinamarca   11884.04858
1303    18    M  26.125      0      no        Boyaca    1708.92575

[1333 rows x 7 columns]

## Agrupar datos

In [19]:
rangoEdad=[17,28,38,48,58,68]
nombreRangoEdad=['A (17-28)','B (29-38)','C (39-48)','D (49-58)','E (59-68)']

In [20]:
# Crear nueva columna
df['rango_edad']=pd.cut(df['edad'],rangoEdad,labels=nombreRangoEdad)
df

      edad sexo     imc  hijos fumador        region  valor_seguro rango_edad
0       19    F  27.900      0     yes        Caribe   16884.92400  A (17-28)
3       18    M  33.770      1      no  Cundinamarca    1725.55230  A (17-28)
4       28    M  33.000      3      no  Cundinamarca    4449.46200  A (17-28)
5       33    M  22.705      0      no     Antioquia   21984.47061  B (29-38)
6       32    M  28.880      0      no     Antioquia    3866.85520  B (29-38)
...    ...  ...     ...    ...     ...           ...           ...        ...
1342    50    M  30.970      3      no     Antioquia   10600.54830  D (49-58)
1343    18    F  31.920      0      no        Boyaca    2205.98080  A (17-28)
1344    18    F  36.850      0      no  Cundinamarca    1629.83350  A (17-28)
1346    21    F  25.800      0      no        Caribe    2007.94500  A (17-28)
1347    61    F  29.070      0     yes     Antioquia   29141.36030  E (59-68)

[1333 rows x 8 columns]